In [5]:
import pandas as pd
from rake_nltk import Rake

In [6]:
dataset = pd.DataFrame(data)

In [1]:
data = [{"title":"무한도전","section":"예능", "director":"김태호", 
         "cast":"정준하, 유재석, 박명수, 양세형, 하하, 조세호, 황광희"},
       {"title":"런닝맨","section":"예능", "director":"고동완", 
         "cast":"양세찬, 이유리, 홍종현, 하하, 정유미, 송지효, 유재석, 지석진, 김종국, 승리, 전소민, 이광수, 민아, 지민"},
        {"title":"스카이캐슬", "section":"드라마", "director":"조현탁",
         "cast":"염정아, 정준호, 이태란, 최원영, 윤세아, 김병철, 오나라, 조재윤, 김서형"},
        {"title":"해피투게더","section":"예능","director":"신미진", "cast":"전현무, 제아, 김광규, 박명수, 유재석, 양배추, 돈스파이크, 치타, 민규/세븐틴, 청하"},
        {"title":"나혼자 산다","section":"예능","director":"김구산", "cast":"한혜진, 전현무, 박나래, 이시언, 기안84, 헨리"},
        {"title":"윤식당", "section":"예능", "director":"나영석", "cast":"윤여정, 이서진, 정유미, 박서준"},
        {"title":"꽃보다 할배", "section":"예능", "director":"나영석", "cast":"이순재, 이서진, 신구, 박근형, 백일섭, 김용건"}
       ]

In [12]:
dataset.head(7)

,cast,director,section,title,keywords
0,"정준하, 유재석, 박명수, 양세형, 하하, 조세호, 황광희",김태호,예능,무한도전,
1,"양세찬, 이유리, 홍종현, 하하, 정유미, 송지효, 유재석, 지석진, 김종국, 승리...",고동완,예능,런닝맨,
2,"염정아, 정준호, 이태란, 최원영, 윤세아, 김병철, 오나라, 조재윤, 김서형",조현탁,드라마,스카이캐슬,
3,"전현무, 제아, 김광규, 박명수, 유재석, 양배추, 돈스파이크, 치타, 민규/세븐틴...",신미진,예능,해피투게더,
4,"한혜진, 전현무, 박나래, 이시언, 기안84, 헨리",김구산,예능,나혼자 산다,
5,"윤여정, 이서진, 정유미, 박서준",나영석,예능,윤식당,
6,"이순재, 이서진, 신구, 박근형, 백일섭, 김용건",나영석,예능,꽃보다 할배,

In [7]:
dataset.dtypes

cast        object
director    object
section     object
title       object
dtype: object

In [11]:
dataset['keywords'] = ""

In [13]:
for index,row in dataset.iterrows():
    cast = row['cast']
    section = row['section']
    director = row['director']
    r = Rake()
    
    r.extract_keywords_from_text(cast)
    key_words_dict_scores = r.get_word_degrees()
    row['keywords'] = list(key_words_dict_scores.keys())
    
    r.extract_keywords_from_text(section)
    key_words_dict_scores = r.get_word_degrees()
    row['keywords'] += list(key_words_dict_scores.keys())
    
    r.extract_keywords_from_text(director)
    key_words_dict_scores = r.get_word_degrees()
    row['keywords'] += list(key_words_dict_scores.keys())
    
dataset.head(7)

,cast,director,section,title,keywords
0,"정준하, 유재석, 박명수, 양세형, 하하, 조세호, 황광희",김태호,예능,무한도전,"[조세호, 박명수, 하하, 황광희, 양세형, 유재석, 정준하, 예능, 김태호]"
1,"양세찬, 이유리, 홍종현, 하하, 정유미, 송지효, 유재석, 지석진, 김종국, 승리...",고동완,예능,런닝맨,"[지민, 송지효, 양세찬, 정유미, 김종국, 이유리, 승리, 이광수, 하하, 전소민..."
2,"염정아, 정준호, 이태란, 최원영, 윤세아, 김병철, 오나라, 조재윤, 김서형",조현탁,드라마,스카이캐슬,"[김서형, 염정아, 조재윤, 이태란, 윤세아, 오나라, 김병철, 최원영, 정준호, ..."
3,"전현무, 제아, 김광규, 박명수, 유재석, 양배추, 돈스파이크, 치타, 민규/세븐틴...",신미진,예능,해피투게더,"[청하, 박명수, 전현무, 치타, 양배추, 민규, 제아, 세븐틴, 유재석, 김광규,..."
4,"한혜진, 전현무, 박나래, 이시언, 기안84, 헨리",김구산,예능,나혼자 산다,"[기안84, 전현무, 이시언, 헨리, 박나래, 한혜진, 예능, 김구산]"
5,"윤여정, 이서진, 정유미, 박서준",나영석,예능,윤식당,"[윤여정, 이서진, 박서준, 정유미, 예능, 나영석]"
6,"이순재, 이서진, 신구, 박근형, 백일섭, 김용건",나영석,예능,꽃보다 할배,"[김용건, 박근형, 신구, 백일섭, 이서진, 이순재, 예능, 나영석]"

In [108]:
dataset.drop(['cast', 'director', 'section'], axis = 1)

    title                                           keywords
0    무한도전        [양세형, 박명수, 정준하, 조세호, 유재석, 황광희, 하하, 예능, 김태호]
1     런닝맨  [정유미, 이유리, 송지효, 승리, 양세찬, 김종국, 지민, 지석진, 민아, 홍종현...
2   스카이캐슬  [김병철, 오나라, 윤세아, 김서형, 조재윤, 정준호, 염정아, 이태란, 최원영, ...
3   해피투게더  [박명수, 제아, 치타, 돈스파이크, 세븐틴, 유재석, 김광규, 전현무, 양배추, ...
4  나혼자 산다            [기안84, 박나래, 이시언, 한혜진, 전현무, 헨리, 예능, 김구산]
5     윤식당                      [윤여정, 박서준, 정유미, 이서진, 예능, 나영석]
6  꽃보다 할배             [신구, 박근형, 김용건, 이순재, 백일섭, 이서진, 예능, 나영석]

In [109]:
dataset['bag_of_words'] = ""
for index,row in dataset.iterrows():
    keywords = row['keywords']
    for keyword in keywords:
        keyword += " "
        row['bag_of_words'] += keyword

In [120]:
len(count.get_feature_names())

58

In [118]:
count_matrix.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [114]:
dataset.drop(['cast', 'director', 'section', 'keywords'], axis = 1)

    title                                       bag_of_words
0    무한도전                 양세형 박명수 정준하 조세호 유재석 황광희 하하 예능 김태호
1     런닝맨  정유미 이유리 송지효 승리 양세찬 김종국 지민 지석진 민아 홍종현 유재석 이광수 전...
2   스카이캐슬       김병철 오나라 윤세아 김서형 조재윤 정준호 염정아 이태란 최원영 드라마 조현탁
3   해피투게더  박명수 제아 치타 돈스파이크 세븐틴 유재석 김광규 전현무 양배추 민규 청하 예능 신미진
4  나혼자 산다                    기안84 박나래 이시언 한혜진 전현무 헨리 예능 김구산
5     윤식당                            윤여정 박서준 정유미 이서진 예능 나영석
6  꽃보다 할배                     신구 박근형 김용건 이순재 백일섭 이서진 예능 나영석

In [140]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()
count_matrix = count.fit_transform(dataset['bag_of_words'])
print(count.get_feature_names())
count_matrix.toarray()

['고동완', '기안84', '김광규', '김구산', '김병철', '김서형', '김용건', '김종국', '김태호', '나영석', '돈스파이크', '드라마', '민규', '민아', '박근형', '박나래', '박명수', '박서준', '백일섭', '세븐틴', '송지효', '승리', '신구', '신미진', '양배추', '양세찬', '양세형', '염정아', '예능', '오나라', '유재석', '윤세아', '윤여정', '이광수', '이서진', '이순재', '이시언', '이유리', '이태란', '전소민', '전현무', '정유미', '정준하', '정준호', '제아', '조세호', '조재윤', '조현탁', '지민', '지석진', '청하', '최원영', '치타', '하하', '한혜진', '헨리', '홍종현', '황광희']

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [138]:
indices = pd.Series(dataset.title)
indices

0      무한도전
1       런닝맨
2     스카이캐슬
3     해피투게더
4    나혼자 산다
5       윤식당
6    꽃보다 할배
Name: title, dtype: object

In [131]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)1
cosine_sim

array([[ 1.        ,  0.25      ,  0.        ,  0.2773501 ,  0.11785113,
         0.13608276,  0.11785113],
       [ 0.25      ,  1.        ,  0.        ,  0.13867505,  0.08838835,
         0.20412415,  0.08838835],
       [ 0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ],
       [ 0.2773501 ,  0.13867505,  0.        ,  1.        ,  0.19611614,
         0.1132277 ,  0.09805807],
       [ 0.11785113,  0.08838835,  0.        ,  0.19611614,  1.        ,
         0.14433757,  0.125     ],
       [ 0.13608276,  0.20412415,  0.        ,  0.1132277 ,  0.14433757,
         1.        ,  0.4330127 ],
       [ 0.11785113,  0.08838835,  0.        ,  0.09805807,  0.125     ,
         0.4330127 ,  1.        ]])

In [129]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vector = TfidfVectorizer()
tfidf_matrix = tfidf_vector.fit_transform(dataset['bag_of_words'])
tfidf_matrix.toarray()

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.37510424,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.31136873,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.37510424,  0.        ,  0.17818105,  0.        ,
         0.26614767,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.37510424,  0.        ,  0.        ,
         0.37510424,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.31136873,  0.        ,
         0.        ,  0.        ,  0.37510424],
       [ 0.26624424,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.26624424,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.26624424,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.26624424,  0.26624424,  0.        ,  0.        ,  0.        ,
         0.26624424,  0.        ,  0.        ,  0.12647065,  0.        ,
         0.18890824,  0.        ,  0.        ,  0.26624424,  0.        ,
         0.        ,  0.        ,  0.26624424,  0.        ,  0.26624424,
         0.        ,  0.22100558,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.26624424,  0.26624424,
         0.        ,  0.        ,  0.        ,  0.22100558,  0.        ,
         0.        ,  0.26624424,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.30151134,
         0.30151134,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.30151134,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.30151134,  0.        ,  0.30151134,
         0.        ,  0.30151134,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.30151134,  0.        ,
         0.        ,  0.        ,  0.        ,  0.30151134,  0.        ,
         0.        ,  0.30151134,  0.30151134,  0.        ,  0.        ,
         0.        ,  0.30151134,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.30005336,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.30005336,  0.        ,  0.30005336,  0.        ,  0.        ,
         0.        ,  0.24907006,  0.        ,  0.        ,  0.30005336,
         0.        ,  0.        ,  0.        ,  0.30005336,  0.30005336,
         0.        ,  0.        ,  0.        ,  0.14253057,  0.        ,
         0.21289683,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.24907006,  0.        ,  0.        ,  0.        ,  0.30005336,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.30005336,  0.        ,  0.30005336,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.38028906,  0.        ,  0.38028906,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.38028906,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.18064393,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.38028906,  0.        ,  0.        ,  0.        ,
         0.31567258,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.38028906,
         0.38028906,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.40063995,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.4826488 ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.22926659,  0.        ,
         0.        ,  0.        ,  0.4826488 ,  0.        ,  0.40063995,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.40063995,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.38913962,  0.        ,  0.        ,  0.32301931,
         0.        ,  0.        ,  0.        ,  0.        ,  0.38913962,
         0.        ,  0.        ,  0.        ,  0.38913962,  0.        ,
         0.        ,  0.        ,  0.38913962,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.1848481 ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.32301931,
         0.38913962,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ]])

In [85]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[ 1.        ,  0.25      ,  0.        ,  0.2773501 ,  0.11785113,
         0.13608276,  0.11785113],
       [ 0.25      ,  1.        ,  0.        ,  0.13867505,  0.08838835,
         0.20412415,  0.08838835],
       [ 0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ],
       [ 0.2773501 ,  0.13867505,  0.        ,  1.        ,  0.19611614,
         0.1132277 ,  0.09805807],
       [ 0.11785113,  0.08838835,  0.        ,  0.19611614,  1.        ,
         0.14433757,  0.125     ],
       [ 0.13608276,  0.20412415,  0.        ,  0.1132277 ,  0.14433757,
         1.        ,  0.4330127 ],
       [ 0.11785113,  0.08838835,  0.        ,  0.09805807,  0.125     ,
         0.4330127 ,  1.        ]])

In [135]:

indices = pd.Series(dataset.title)

def recommendations(title, cosine_sim = cosine_sim):
    recommended_movies = []
    
    idx = indices[indices == title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    top_3_indexes = list(score_series.iloc[1:4].index)
    
    for i in top_3_indexes:
        recommended_movies.append(list(dataset.title)[i])
        
    return recommended_movies

In [134]:
list(dataset.title)

['무한도전', '런닝맨', '스카이캐슬', '해피투게더', '나혼자 산다', '윤식당', '꽃보다 할배']

In [136]:
recommendations('윤식당')

['꽃보다 할배', '런닝맨', '나혼자 산다']

In [137]:
recommendations('무한도전')

['해피투게더', '런닝맨', '윤식당']